/*
 * Copyright (C) 2013-2014 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "silverbullet-common.dtsi"

/ {
	model = "Aesys i.MX6 Quad/Dual Apollo (1504)";
	compatible = "aesys,imx6q-apollo", "umobo,imx6q-silverbullet", "fsl,imx6q";
};

&i2c1 {
	/* Microchip MCP9801 temperature sensor */
	mcp9801@48 {
		compatible = "microchip,mcp980x";
		reg = <0x48>;
	};

	/* Semtech SX8651 touchscreen */
	sx8651@49 {
		compatible = "semtech,sx8651";
		reg = <0x49>;
		interrupt-parent = <&gpio2>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
	};

	/* ST M24C08 EEPROM */
	m24c08@50 {
		compatible = "st,24c08";
		reg = <0x50>;
	};

	/* ST M41T11 realtime clock */
	/* (using compatible driver for ST M41T00 */
	m41t11@68 {
		compatible = "st,m41t00";
		reg = <0x68>;
	};
};

&mxcfb1 {
	/* Set default LCD mode */
	compatible = "fsl,mxc_sdc_fb";
	disp_dev = "lcd";
	interface_pix_fmt = "RGB24";
	mode_str ="AMPIRE-AM480272MNTMQW-T00H";
	default_bpp = <16>;
	int_clk = <0>;
	late_init = <0>;
	status = "ok";
};
